* {
  font-family: "ptsans";
}

html, body {
  margin: 0px;
  padding: 0px;
  position: relative;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}

.header {
  height: 56px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 20px;
  z-index: 2;
}
.header_nav {
  display: flex;
  justify-content: space-around;
}
.header_nav_item {
  font-family: "ptsansbold";
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: center;
  color: #000;
}
.header_nav_item img {
  margin-top: -15px;
}
.header_nav_item a {
  color: #000;
}

.welcome {
  height: 800px;
  position: relative;
  background-image: url(/img/background_photo.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.welcome_logo {
  padding-top: 175px;
  text-align: center;
}
.welcome_title {
  margin-top: 140px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.welcome_subtitle {
  margin-top: 38px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #333;
}

.box {
  height: 1098px;
}
.box_line1 {
  display: flex;
  height: 256px;
}
.box_line1_text {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box_line1_text_title {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.box_line1_text_numb {
  margin: 10px;
  color: #fff;
  font-size: 18px;
}
.box_line1_text_subtitle {
  width: 300px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.box_line1_img {
  width: 58%;
}
.box_line2 {
  height: 330px;
  display: flex;
  justify-content: space-around;
}
.box_line2_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box_line2_item_title {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.box_line2_item_subtitle {
  width: 300px;
  text-transform: uppercase;
  text-align: center;
}
.box_line3 {
  display: flex;
  height: 256px;
}
.box_line3_text {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box_line3_text_title {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.box_line3_text_numb {
  margin: 10px;
  color: #fff;
  font-size: 18px;
}
.box_line3_text_subtitle {
  width: 300px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.box_line3_img {
  width: 58%;
}
.box_line4 {
  background-color: #eeeeee;
  height: 256px;
  display: flex;
  justify-content: space-around;
}
.box_line4_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box_line4_item_title {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.box_line4_item_numb {
  margin: 10px;
  font-size: 18px;
}
.box_line4_item_subtitle {
  width: 300px;
  text-transform: uppercase;
  text-align: center;
}

.search {
  position: relative;
  height: 790px;
}
.search_title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
  font-weight: bold;
  font-size: 30px;
}
.search_subtitle {
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
}
.search_date {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
.search_date_title {
  width: 568px;
  height: 86px;
  margin: 0 auto;
  background-color: #766357;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 4;
  color: #fff;
}
.search_date_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 568px;
  height: 395px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.search_date_block_item {
  display: flex;
  align-items: center;
}
.search_date_block_item_title {
  width: 110px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.search_date_block_item_input {
  width: 346px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}
.search_date_block_button {
  border: none;
  width: 458px;
  height: 58px;
  cursor: pointer;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #fff;
}
.search_map {
  position: absolute;
  width: 100%;
  height: 590px;
  top: 318px;
  z-index: 0;
}

.footer {
  position: relative;
  display: flex;
  height: 120px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.footer_item {
  width: 300px;
}
.footer_item_text {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000;
}
.footer_item_social {
  display: flex;
  justify-content: center;
}
.footer_item_social_block {
  position: relative;
  margin: 5px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.footer_item_social_block_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.footer_item_by {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000;
}

@font-face {
  font-family: "ptsans";
  src: url(/fonts/web/ptsans.woff) format("woff"), url(/fonts/web/ptsans.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "ptsansbold";
  src: url(/fonts/web/ptsansbold.woff) format("woff"), url(/fonts/web/ptsansbold.woff2) format("woff2");
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */