.header {
  height: 56px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 20px;
  z-index: 2;
  &_nav {
    display: flex;
    justify-content: space-around;
    &_item {
        font-family: 'ptsansbold';
        margin-top: 15px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.86;
        text-align: center;
        color: #000;
        img {
            margin-top: -15px;
        }
        a {
            color: #000;
        }
    }
  }
}